* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

img {
  margin: 0;
}

button {
  padding: 1%;
  font-size: 1rem;
  border: none;
  background-color: var(--button);
  width: auto;
  box-shadow: var(--boxShadow);
  cursor: pointer;
}

.radiusCard {
  border-radius: 30px;
}
.radius {
  border-radius: 50px;
}

:focus-visible {
  outline: none;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  position: relative;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5vh;
  background-color: var(--bluePrimary);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
